<template>
  <v-card
    elevation="20"
    class="mx-auto my-12"
    max-width="500"
  >
    <template slot="progress">
      <v-progress-linear
        color="deep-purple"
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>

    <v-img
      height="300"
      :src="comics.img"
      :alt="comics.alt"
    ></v-img>

    <v-card-text>
      <v-row
        align="center"
        class="mx-0"
      >
        <v-rating
          v-model="rating"
          background-color="indigo"
          color="orange"
          size="70"
        ></v-rating>

        <v-divider class="mx-4"></v-divider>

        <v-container>
          <v-row 
            align="center"
            justify="center"
            class="my-2 "
          >
            <v-btn 
              outlined
              rounded
              text
              @click="newComins"
            >
              Nuevo Comics
            </v-btn>
          </v-row>
        </v-container>

        <v-card-title class="grey--text">
          TITLE: {{comics.title}}
        </v-card-title>
      </v-row>

      <div class="my-2 text-subtitle-1">
        SAFE TITLE: {{comics.safe_title}}
      </div>

      <div>transcript: {{comics.transcript}}</div>
    </v-card-text>

    <v-card-title>{{comics.day}}/{{comics.month}}/{{comics.year}}</v-card-title>
  </v-card>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data: () => ({
    rating:0
  }),
  computed: {
    ...mapGetters({comics: "comics/getComic"}),
  },
  methods:{
    ...mapActions('comics',['recuperarComic','addLatestComic']),
    async newComins(){
      this.comics.stars = this.rating
      this.rating=0
      await this.addLatestComic(this.comics)
      await this.recuperarComic()
    }
  },
  async created(){
    await this.recuperarComic()
  }
}
</script>