<template>
  <v-container>
    <h2 class="my-8">ULTIMOS COMICS</h2>
    <v-timeline>
      <v-timeline-item
          v-for="(lastestComic, index) in lastestComics"
          :key="index"
          large
      >
        <template v-slot:icon>
          <v-avatar>
            <img :src="lastestComic.img"> 
          </v-avatar>
        </template>
        <template v-slot:opposite>
          <span>{{lastestComic.title}}</span>
          <span>STARS:{{lastestComic.stars}}
            <v-rating
            v-model="lastestComic.stars"
            background-color="indigo"
            color="orange"
            size="15"
            ></v-rating>
          </span>
        </template>
      </v-timeline-item>
    </v-timeline>
  </v-container>
</template>
<script>
import {mapGetters } from 'vuex'
export default {
  computed:{
      ...mapGetters({lastestComics: "comics/getlastestComic"})
    },
}
</script>