<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        sm="6"
        md="8"
      >
        <Card />
      </v-col>
      <v-col
        cols="6"
        md="3"
      >
        <Timeline/>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
  import Card from '../components/Card.vue'
  import Timeline from '../components/Timeline.vue'
  export default {
    components: {
      Card,
      Timeline
    }
  }
</script>